<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <form @submit.prevent="addTodo">
          <input v-model="newTodo">
          <button>Add Todo</button>    
        </form>
        <ul>
          <li v-for="todo in todos" :key="todo.id">
            {{ todo.text }}
            <button @click="removeTodo(todo)">X</button>
          </li>
        </ul>
      </div>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
      <script type="module">
        
        // give each todo a unique id
        let id = 0
        
        Vue.createApp({
          data() {
            return {
              newTodo: '',
              todos: [
                { id: id++, text: 'Learn HTML' },

              ]
            }
          },
          methods: {
            addTodo() {
              this.todos.push({ id: id++, text: this.newTodo })
              this.newTodo = ''
            },
            removeTodo(todo) {
              this.todos = this.todos.filter((t) => t !== todo)
            }
          }
        }).mount('#app')
        </script>
</body>
</html>